{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Barra de navegación -->
        <nav>
            <!-- Contenido de la barra de navegación -->
            <ul>
                <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="{% url 'lista_tareas' %}">Lista de Tareas</a></li>
                <li><a href="{% url 'crear_tarea' %}">Crear Tarea</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Contenido principal -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Pie de página -->
    </footer>
</body>
</html>
