{% extends 'layouts/app.html' %}

{% block title %}Inicio - Mi Aplicación de Tareas{% endblock %}

{% block content %}
    <header class="navbar">
        <div class="container">
            <h1>Mi Aplicación de Tareas</h1>
            <nav>
                <a href="{% url 'lista_tareas' %}">Lista de Tareas</a>
                <a href="{% url 'crear_tarea' %}">Crear Tarea</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <section>
            <h2>¡Bienvenido!</h2>
            <p>Con esta aplicación, puedes gestionar tus tareas de manera eficiente. Puedes crear nuevas tareas, ver la lista de tareas existentes, editar tareas y eliminarlas.</p>
        </section>
    </main>
    <footer>
        <p>&copy; {{ year }} Mi Aplicación de Tareas</p>
    </footer>
{% endblock %}
