{% extends 'layouts/app.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
    <h1>Lista de Tareas</h1>
    <table>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Categoría</th>
            <th>Realizada</th>
        </tr>
        {% for tarea in tareas %}
            <tr class="{% if tarea.categoria.nombre == 'Muy urgente' %}muy-urgente{% elif tarea.categoria.nombre == 'Medio urgente' %}medio-urgente{% elif tarea.categoria.nombre == 'Poco urgente' %}poco-urgente{% endif %}">
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>{{ tarea.categoria.nombre }}</td>
                <td>
                    {% if not tarea.realizada %}
                        <button class="marcar-realizada" data-tarea-id="{{ tarea.id }}">Marcar como Realizada</button>
                    {% else %}
                        <button class="eliminar-tarea" data-tarea-id="{{ tarea.id }}">Eliminar</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'crear_tarea' %}">Crear Nueva Tarea</a>
{% endblock %}
